<div class="container">


  <div class="row text-center">
    <h1>Finance App</h1>
    Living on a tight schedule budget can be a difficult task. You must get your personal finances under control.
    In this scenario, budgeting apps can be useful to you. It helps you to have efficient money management.
    There are thousands of money management apps available. You might get confused to choose the right app for you.
    Don’t worry! You have chosen the best budgeting app for you. Record all your expenses and create a report form convenient for you
  </div>

</div>