<h1>Reports#analytics</h1>

<%#
<!--  if params[:commit] == 'report_by_dates'-->
<!--    render 'reports/analytics/report_by_dates.html.slim'-->
<!--  elsif params[:commit] == 'report_by_category'-->
<!--    render 'reports/analytics/report_by_category.html.slim'-->
<!--  end-->

%>




